/* CSS font */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Raleway", sans-serif;
}

form,
ul {
    margin: 0;
    padding: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    margin: 1em 0 1em 1em;
}


/*Font per titoletti difianco al logo*/

.nav ul a {
    color: #8c8c8c;
    text-decoration: none;
    margin-left: 15px;
}


/*Font per l'header del sito*/

.nav {
    background-color: #dfebdf;
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.login {
    margin-left: auto;
    display: flex;
}

.login input,
.login a,
.login button {
    margin-left: 20px;
}


/*Font per i pulsanti login e logout*/

.login button {
    -webkit-appearance: none;
    background: #579558;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    font-family: "Raleway", sans-serif;
}


/*Font per pulsante registrati*/

#btnRegistrati {
    -webkit-appearance: none;
    background: #579558;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    font-family: "Raleway", sans-serif;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.login a {
    padding: 5px 2px;
    text-decoration: none;
    color: #000;
}

.login input {
    background: #dfebdf;
    color: #333;
    border: 1px solid;
    padding: 10px;
    size: 50px;
    font-size: 15px;
}

.welcomeText {
    font-size: 25px;
    color: black;
}